extends layout

block content
  h1 API Basejump: Timestamp microservice
  h3  Example usage:
  p https://pacific-cove-1945.herokuapp.com/December%2015,%202015
  p https://pacific-cove-1945.herokuapp.com/1450137600
  pre { "unix": 1450137600, "natural": "December 15, 2015" }

