extends layout

block content
  div.container
    h1.text-center.col-md-6.col-md-offset-3 API Basejump: URL Shortener
    div.container.col-md-12.text-center 
      h3 example usage
      p q - search query / offset - for limiting result-min10
      p https://fathomless-cliffs-1613.herokuapp.com/api?q=cats&offset=10
      h3 for recent query searches
      p https://fathomless-cliffs-1613.herokuapp.com//recent
      hr
      a(href="https://github.com/thekairath" target="_blank") Kairath/Github
      